<header class="header">
    <img class="logo" src="assets/images/logo.svg" alt="logo">
    <h1 class="logo-text" style="margin-right: 490px;">HarkShop</h1>
    <nav>
        <ul class="nav-links">
            <li><a href="#"></a>Catálogo</li>
            <li><a href="#"></a>Delivery</li>
            <li><a href="#"></a>Ofertas</li>
        </ul>
    </nav>
    <a class="cta" href="#"><button>Contacto</button></a>
</header>
    
<div class="card-grid">
  @for (item of productList; track $index) {
    <div class="card-wrapper animate__animated animate__fadeInUp">
      <mat-card class="card-container">
        <mat-card-header>
          <div mat-card-avatar class="profile-image">
            <img [src]="item.image" [alt]="item.title + ' thumbnail'" class="avatar-img">
          </div>
          <mat-card-title class="title">{{ item.title }}</mat-card-title>
          <mat-card-subtitle>Category: {{ item.category }}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image 
             [src]="item.image" 
             [alt]="item.title" 
             class="product-img">

        <mat-card-content class="card-content">
            <p><strong>Price:</strong> ${{ item.price }}</p>
            <p>{{ item.description.slice(0, 120) }}...</p>
        </mat-card-content>

        <mat-card-actions>
          <a [routerLink]="['/producto', item.id]" class="ver-detalle-link">Detalle</a>
        </mat-card-actions>
      </mat-card>
    </div>
  }
</div>



