/* You can add global styles to this file, and also import other style files */
.card-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.card-grid > div {
  width: 300px;
}
